Repository FC-DEV-FinalProject/FinalProject_team3_BE, pull requests merged in 2024-11, with the labels that each got.

#55 Feat/user info #10
  src/main/java/com/investmetic/domain/user/controller/.gitkeep
  src/main/java/com/investmetic/domain/user/controller/AdminController.java
  src/main/java/com/investmetic/domain/user/controller/UserMyPageController.java
  src/main/java/com/investmetic/domain/user/dto/object/ImageMetadata.java
  src/main/java/com/investmetic/domain/user/dto/request/.gitkeep
  src/main/java/com/investmetic/domain/user/dto/request/UserModifyDto.java
  src/main/java/com/investmetic/domain/user/dto/response/.gitkeep
  src/main/java/com/investmetic/domain/user/dto/response/UserProfileDto.java
  src/main/java/com/investmetic/domain/user/model/entity/User.java
  src/main/java/com/investmetic/domain/user/repository/.gitkeep
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepository.java
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepositoryCustom.java
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/service/.gitkeep
  src/main/java/com/investmetic/domain/user/service/AdminService.java
  src/main/java/com/investmetic/domain/user/service/UserMyPageService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/UserMyPageServiceTest.java
Labels: ✨ Feature, 🧪 Test

#57 :recycle: [refactor] S3FileService 리팩토링 및 TestCode 추가
  src/main/java/com/investmetic/global/util/s3/FilePath.java
  src/main/java/com/investmetic/global/util/s3/S3FileService.java
  src/test/java/com/investmetic/global/util/s3/S3FileServiceTest.java
Labels: 🔨 Refactor

#60 Refactor review #59
  src/main/java/com/investmetic/domain/review/dto/response/ReviewDetailResponse.java
  src/test/java/com/investmetic/domain/TestEntity/TestEntityFactory.java
Labels: 🔨 Refactor, 🐛 Bug

#61 Feat/strategy detail #19
  .gitignore
  build.gradle
  src/main/java/com/investmetic/domain/strategy/controller/.gitkeep
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/dto/response/.gitkeep
  src/main/java/com/investmetic/domain/strategy/dto/response/DailyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/MonthlyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/statistic/AssetManagementDto.java
  src/main/java/com/investmetic/domain/strategy/dto/response/statistic/DdMddInfoDto.java
  src/main/java/com/investmetic/domain/strategy/dto/response/statistic/ProfitLossDto.java
  src/main/java/com/investmetic/domain/strategy/dto/response/statistic/StrategyStatisticsResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/statistic/TradingInfoDto.java
  src/main/java/com/investmetic/domain/strategy/model/MinimumInvestmentAmount.java
  src/main/java/com/investmetic/domain/strategy/model/entity/DailyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/MonthlyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StrategyStatistics.java
  src/main/java/com/investmetic/domain/strategy/repository/.gitkeep
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/MonthlyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyStatisticsRepository.java
  src/main/java/com/investmetic/domain/strategy/service/.gitkeep
  src/main/java/com/investmetic/domain/strategy/service/StrategyDetailService.java
  src/test/java/com/investmetic/domain/TestEntity/TestEntityFactory.java
  src/test/java/com/investmetic/domain/review/service/ReviewServiceTest.java
Labels: ✨ Feature, 🔨 Refactor

#65 Feat/strategy register request #27
  build.gradle
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/dto/StockTypeDto.java
  src/main/java/com/investmetic/domain/strategy/dto/TradeTypeDto.java
  src/main/java/com/investmetic/domain/strategy/dto/request/TradeTypeRequestDTO.java
  src/main/java/com/investmetic/domain/strategy/dto/response/RegisterInfoResponseDto.java
  src/main/java/com/investmetic/domain/strategy/dto/response/TradeTypeResponseDTO.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StockType.java
  src/main/java/com/investmetic/domain/strategy/model/entity/TradeType.java
  src/main/java/com/investmetic/domain/strategy/repository/StockTypeRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/TradeTypeRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyService.java
  src/main/java/com/investmetic/domain/strategy/service/TradeTypeService.java
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepository.java
  src/test/java/com/investmetic/domain/TestEntity/TestEntityFactory.java
  src/test/java/com/investmetic/domain/review/service/ReviewServiceTest.java
  src/test/java/com/investmetic/domain/strategy/StockTypeServiceTest.java
  src/test/java/com/investmetic/domain/strategy/TradeTypeServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, 🧪 Test

#66 Feat 전략상세조회 기능구현 #14
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyDetailResponse.java
  src/main/java/com/investmetic/domain/strategy/model/IsApproved.java
  src/main/java/com/investmetic/domain/strategy/model/entity/DailyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/MonthlyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StockType.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StockTypeGroup.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StrategyStatistics.java
  src/main/java/com/investmetic/domain/strategy/model/entity/TradeType.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustom.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyStatisticsRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyDetailService.java
  src/main/java/com/investmetic/domain/subscription/repository/.gitkeep
  src/main/java/com/investmetic/domain/subscription/repository/SubscriptionRepository.java
  src/main/java/com/investmetic/domain/subscription/repository/SubscriptionRepositoryCustom.java
  src/main/java/com/investmetic/domain/subscription/repository/SubscriptionRepositoryCustomImpl.java
  src/main/java/com/investmetic/global/exception/.gitkeep
  src/main/java/com/investmetic/global/exception/ErrorCode.java
Labels: ✨ Feature, 🔨 Refactor

#67 Feat/strategy register #21
  Dockerfile
  build.gradle
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/dto/StrategyRegisterRequestDto.java
  src/main/java/com/investmetic/domain/strategy/model/OperationCycle.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/repository/TradeTypeRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyRegisterService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyService.java
  src/main/java/com/investmetic/global/dto/PresignedUrlResponseDto.java
  src/main/java/com/investmetic/global/dto/ProposalFileDto.java
  src/main/java/com/investmetic/global/util/s3/FilePath.java
  src/main/java/com/investmetic/global/util/s3/S3FileService.java
  src/test/java/com/investmetic/domain/TestEntity/TestEntityFactory.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyRegisterServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
Labels: ✨ Feature, 🧪 Test

#71 Feat/account images #39
  build.gradle
  src/main/java/com/investmetic/domain/accountVerification/dto/request/.gitkeep
  src/main/java/com/investmetic/domain/accountVerification/dto/response/.gitkeep
  src/main/java/com/investmetic/domain/accountVerification/repository/.gitkeep
  src/main/java/com/investmetic/domain/accountVerification/service/.gitkeep
  src/main/java/com/investmetic/domain/accountverification/controller/AccountVerficationController.java
  src/main/java/com/investmetic/domain/accountverification/dto/request/.gitkeep
  src/main/java/com/investmetic/domain/accountverification/dto/response/.gitkeep
  src/main/java/com/investmetic/domain/accountverification/model/entity/AccountVerification.java
  src/main/java/com/investmetic/domain/accountverification/repository/AccountVerficationRepository.java
  src/main/java/com/investmetic/domain/accountverification/service/AccountImageService.java
  src/main/java/com/investmetic/domain/strategy/dto/request/AccountImageRequestDto.java
  src/main/java/com/investmetic/global/dto/FileUploadRequestDto.java
  src/main/java/com/investmetic/global/dto/MultiPresignedUrlResponseDto.java
  src/main/java/com/investmetic/global/dto/PresignedUrlResponseDto.java
  src/test/java/com/investmetic/domain/accountverification/service/AccountImageServiceTest.java
Labels: ✨ Feature, 🧪 Test

#72 Feat/stratey analysis #16
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/model/AnalysisOption.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustom.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/repository/MonthlyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyDetailService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDetailServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, 🧪 Test

#73 Feat/account image fetch #28
  src/main/java/com/investmetic/domain/accountverification/controller/AccountVerificationController.java
  src/main/java/com/investmetic/domain/accountverification/dto/response/.gitkeep
  src/main/java/com/investmetic/domain/accountverification/dto/response/AccountImagesResponseDto.java
  src/main/java/com/investmetic/domain/accountverification/repository/AccountVerficationRepository.java
  src/main/java/com/investmetic/domain/accountverification/repository/AccountVerificationRepository.java
  src/main/java/com/investmetic/domain/accountverification/service/AccountVerificationService.java
  src/main/java/com/investmetic/domain/user/model/entity/User.java
  src/test/java/com/investmetic/domain/accountverification/service/AccountImageServiceTest.java
  src/test/java/com/investmetic/domain/accountverification/service/AccountVerificationServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyRegisterServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, 🧪 Test

#75 Feat/register strategy daily analysis #32
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/dto/request/TraderDailyAnalysisRequestDto.java
  src/main/java/com/investmetic/domain/strategy/model/entity/DailyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyAnalysisService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyRegisterService.java
  src/main/java/com/investmetic/global/config/SwaggerConfig.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/test/java/com/investmetic/domain/TestEntity/TestEntityFactory.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDailyAnalysisServiceTest.java
Labels: ✨ Feature, 🧪 Test

#77 Feature/refactor account verification #76
  src/main/java/com/investmetic/domain/accountverification/service/AccountVerificationService.java
  src/main/java/com/investmetic/domain/notice/model/entity/Notice.java
  src/main/java/com/investmetic/domain/qna/model/entity/Answer.java
  src/main/java/com/investmetic/domain/strategy/controller/TradeTypeController.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StockType.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/controller/EmailAuthController.java
  src/main/java/com/investmetic/domain/user/model/entity/User.java
  src/main/java/com/investmetic/domain/user/service/EmailService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/main/java/com/investmetic/global/util/s3/S3FileService.java
  src/test/java/com/investmetic/domain/strategy/service/StockTypeServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDetailServiceTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/UserMyPageServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserServiceTest.java
  src/test/java/com/investmetic/global/util/s3/S3FileServiceTest.java
Labels: 🔨 Refactor, 🧪 Test

#78 Feat/admin user #24
  src/main/java/com/investmetic/domain/strategy/service/StrategyRegisterService.java
  src/main/java/com/investmetic/domain/user/controller/AdminController.java
  src/main/java/com/investmetic/domain/user/controller/UserAdminController.java
  src/main/java/com/investmetic/domain/user/dto/object/ColumnCondition.java
  src/main/java/com/investmetic/domain/user/dto/object/ImageMetadata.java
  src/main/java/com/investmetic/domain/user/dto/object/RoleCondition.java
  src/main/java/com/investmetic/domain/user/dto/request/AdminUserDeleteDto.java
  src/main/java/com/investmetic/domain/user/dto/request/RoleUpdateRequestDto.java
  src/main/java/com/investmetic/domain/user/dto/request/UserAdminPageRequestDto.java
  src/main/java/com/investmetic/domain/user/dto/request/UserModifyDto.java
  src/main/java/com/investmetic/domain/user/dto/response/UserProfileDto.java
  src/main/java/com/investmetic/domain/user/model/ActionType.java
  src/main/java/com/investmetic/domain/user/model/Role.java
  src/main/java/com/investmetic/domain/user/model/UserState.java
  src/main/java/com/investmetic/domain/user/model/entity/User.java
  src/main/java/com/investmetic/domain/user/model/entity/UserHistory.java
  src/main/java/com/investmetic/domain/user/model/entity/UserStatistic.java
  src/main/java/com/investmetic/domain/user/repository/UserHistoryRepository.java
  src/main/java/com/investmetic/domain/user/repository/UserRepository.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustom.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepository.java
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepositoryCustom.java
  src/main/java/com/investmetic/domain/user/repository/mypage/UserMyPageRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/service/AdminService.java
  src/main/java/com/investmetic/domain/user/service/UserAdminService.java
  src/main/java/com/investmetic/domain/user/service/UserMyPageService.java
  src/main/java/com/investmetic/global/exception/GlobalExceptionHandler.java
  src/main/java/com/investmetic/global/util/s3/S3FileService.java
  src/test/java/com/investmetic/domain/user/controller/UserAdminPageControllerTest.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
  src/test/java/com/investmetic/domain/user/repository/AdminPageUserRepositoryTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/AdminPageUserServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserMyPageServiceTest.java
Labels: ✨ Feature, 🧪 Test

#81 ✨ [feat] 실계좌 인증 이미지 삭제 기능 추가
  src/main/java/com/investmetic/domain/accountverification/controller/AccountVerificationController.java
  src/main/java/com/investmetic/domain/accountverification/service/AccountVerificationService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/test/java/com/investmetic/domain/accountverification/service/AccountVerificationServiceTest.java
Labels: ✨ Feature, 🧪 Test

#83 Feat/update strategy visibility #38
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyService.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
Labels: ✨ Feature, 🧪 Test

#79 Feat/user update #12
  build.gradle
  src/main/java/com/investmetic/domain/user/controller/UserMyPageController.java
  src/main/java/com/investmetic/domain/user/dto/object/ImageMetadata.java
  src/main/java/com/investmetic/domain/user/dto/request/PasswordDto.java
  src/main/java/com/investmetic/domain/user/dto/request/UserModifyDto.java
  src/main/java/com/investmetic/domain/user/dto/response/UserProfileDto.java
  src/main/java/com/investmetic/domain/user/model/entity/User.java
  src/main/java/com/investmetic/domain/user/model/entity/UserStatistic.java
  src/main/java/com/investmetic/domain/user/repository/UserRepository.java
  src/main/java/com/investmetic/domain/user/service/UserMyPageService.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
  src/test/java/com/investmetic/domain/user/repository/AdminPageUserRepositoryTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/AdminPageUserServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserMyPageServiceTest.java
  src/test/java/com/investmetic/global/config/S3MockConfig.java
Labels: ✨ Feature, 🧪 Test

#84 Feat/trader delete strategy #30
  src/main/java/com/investmetic/domain/accountverification/controller/AccountVerificationController.java
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyService.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
Labels: ✨ Feature, 🧪 Test

#85 Feat/strategy detail search #3
  src/main/java/com/investmetic/domain/review/controller/ReviewController.java
  src/main/java/com/investmetic/domain/review/dto/response/ReviewListResponse.java
  src/main/java/com/investmetic/domain/review/service/ReviewService.java
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/controller/StrategyRankingController.java
  src/main/java/com/investmetic/domain/strategy/dto/ProfitRateChartDto.java
  src/main/java/com/investmetic/domain/strategy/dto/RangeDto.java
  src/main/java/com/investmetic/domain/strategy/dto/request/AlgorithmSearchRequest.java
  src/main/java/com/investmetic/domain/strategy/dto/request/FilterSearchRequest.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyDetailResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/StrategySimpleResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/statistic/AssetManagementDto.java
  src/main/java/com/investmetic/domain/strategy/model/AlgorithmType.java
  src/main/java/com/investmetic/domain/strategy/model/DurationRange.java
  src/main/java/com/investmetic/domain/strategy/model/ProfitRange.java
  src/main/java/com/investmetic/domain/strategy/model/entity/DailyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StrategyStatistics.java
  src/main/java/com/investmetic/domain/strategy/repository/StockTypeGroupRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustom.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/service/StrategySearchService.java
  src/main/java/com/investmetic/domain/subscription/repository/SubscriptionRepositoryCustomImpl.java
  src/test/java/com/investmetic/domain/review/service/ReviewServiceTest.java
Labels: ✨ Feature

#87 Feat/download proposal #8
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyService.java
  src/main/java/com/investmetic/global/dto/FileDownloadResponseDto.java
  src/main/java/com/investmetic/global/util/s3/S3FileService.java
  src/test/java/com/investmetic/domain/strategy/service/FileDownloadServiceTest.java
Labels: ✨ Feature, 🧪 Test

#89 Feat/trader list #26
  src/main/java/com/investmetic/domain/subscription/model/entity/Subscription.java
  src/main/java/com/investmetic/domain/user/controller/UserController.java
  src/main/java/com/investmetic/domain/user/dto/response/TraderProfileDto.java
  src/main/java/com/investmetic/domain/user/repository/UserRepository.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustom.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/service/UserService.java
  src/test/java/com/investmetic/domain/user/repository/AdminPageUserRepositoryTest.java
  src/test/java/com/investmetic/domain/user/repository/TraderListRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/AdminPageUserServiceTest.java
  src/test/java/com/investmetic/domain/user/service/TraderListTest.java
  src/test/java/com/investmetic/domain/user/service/UserMyPageServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, 🧪 Test

#92 Feature/strategy daily analysis scheduler #74
  build.gradle
  src/main/java/com/investmetic/InvestMeticApplication.java
  src/main/java/com/investmetic/domain/strategy/model/entity/DailyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyAnalysisService.java
  src/main/java/com/investmetic/global/scheduler/DailyAnalysisScheduler.java
  src/main/java/com/investmetic/global/scheduler/Scheduler.java
  src/main/java/com/investmetic/global/scheduler/StrategySmScoreScheduler.java
  src/main/java/com/investmetic/global/util/DailyAnalysisCalculator.java
  src/main/java/com/investmetic/global/util/RoundUtil.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDailyAnalysisServiceTest.java
Labels: ✨ Feature

#95 Feat/strategy excel download #23
  src/main/java/com/investmetic/domain/review/dto/response/ReviewDetailResponse.java
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/dto/response/DailyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/MonthlyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyDetailResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/StrategySimpleResponse.java
  src/main/java/com/investmetic/domain/strategy/exceldownload/ExcelColumn.java
  src/main/java/com/investmetic/domain/strategy/exceldownload/ExcelSheet.java
  src/main/java/com/investmetic/domain/strategy/exceldownload/ExcelSupport.java
  src/main/java/com/investmetic/domain/strategy/exceldownload/ExcelUtils.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustom.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/repository/MonthlyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyDetailService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
Labels: ✨ Feature

#96 Feat/get strategy info on edit page #94
  build.gradle
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyModifyInfoResponseDto.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StockTypeGroup.java
  src/main/java/com/investmetic/domain/strategy/repository/StockTypeGroupRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyRegisterService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyRegisterServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
Labels: ✨ Feature, 🧪 Test

#99 Feat/stibee email #98
  build.gradle
  src/main/java/com/investmetic/domain/user/model/Role.java
  src/main/java/com/investmetic/global/config/RestClientConfig.java
  src/main/java/com/investmetic/global/util/stibee/StibeeEmailService.java
  src/main/java/com/investmetic/global/util/stibee/client/AutoApiStibeeClient.java
  src/main/java/com/investmetic/global/util/stibee/client/StibeeClient.java
  src/main/java/com/investmetic/global/util/stibee/dto/object/DeleteValue.java
  src/main/java/com/investmetic/global/util/stibee/dto/object/EmailAndCode.java
  src/main/java/com/investmetic/global/util/stibee/dto/object/GroupErrorValue.java
  src/main/java/com/investmetic/global/util/stibee/dto/object/SignUpValue.java
  src/main/java/com/investmetic/global/util/stibee/dto/object/UnsubscribeValue.java
  src/main/java/com/investmetic/global/util/stibee/dto/request/EmailSubscribe.java
  src/main/java/com/investmetic/global/util/stibee/dto/request/SubscriberField.java
  src/main/java/com/investmetic/global/util/stibee/dto/response/StibeeSubscribeResponse.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/UserInfoModifyServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserMyPageServiceTest.java
  src/test/java/com/investmetic/global/config/S3MockConfig.java
  src/test/java/com/investmetic/global/util/s3/S3FileServiceTest.java
Labels: ✨ Feature, 🔨 Refactor

#102 Feat/my strategies #42
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/controller/StrategyRankingController.java
  src/main/java/com/investmetic/domain/strategy/dto/ProfitRateChartDto.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/BaseStrategyResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/MyStrategySimpleResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/StrategySimpleResponse.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustom.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyDetailService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyListingService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategySearchService.java
  src/main/java/com/investmetic/global/util/RoundUtil.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDetailServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, 🐛 Bug

#112 :bug: [Fix] : 이메일 인증 및 확인 엔드포인트 및 변수명 수정
  src/main/java/com/investmetic/domain/user/controller/EmailAuthController.java
Labels: 🐛 fix

#113 Fix/mypage strategies #104
  .github/workflows/pr-build-test.yml
  src/test/java/com/investmetic/domain/strategy/service/MyDailyAnalysisServiceTest.java
Labels: 🐛 fix

#114 Feat/strategiy account verification #37
  src/main/java/com/investmetic/InvestMeticApplication.java
  src/main/java/com/investmetic/domain/accountverification/dto/response/AccountImagesResponseDto.java
  src/main/java/com/investmetic/domain/accountverification/repository/AccountVerificationRepository.java
  src/main/java/com/investmetic/domain/accountverification/service/AccountVerificationService.java
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyDetailService.java
  src/main/java/com/investmetic/global/config/QuerydslConfig.java
  src/test/java/com/investmetic/domain/accountverification/service/AccountVerificationServiceTest.java
Labels: ✨ Feature

#116 Feat/modify strategy #100
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/dto/request/StrategyModifyRequestDto.java
  src/main/java/com/investmetic/domain/strategy/dto/request/StrategyRegisterRequestDto.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyModifyInfoResponseDto.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/repository/StockTypeRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyRegisterService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyService.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyInfoServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
Labels: ✨ Feature, ♻️ Refactor, 🧪 Test

#117 Feat/strategy daily analysis update #33
  .github/ISSUE_TEMPLATE/기능-추가-이슈-템플릿.md
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/model/entity/DailyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyAnalysisService.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDailyAnalysisServiceTest.java
Labels: ✨ Feature, 🧪 Test

#121 Feat/delete daily strategy analysis #34
  src/main/java/com/investmetic/domain/strategy/controller/StrategyController.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyAnalysisService.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDailyAnalysisServiceTest.java
Labels: ✨ Feature, 🧪 Test

#122 Refactor/strategy #118
  src/main/java/com/investmetic/domain/strategy/controller/StrategyDetailController.java
  src/main/java/com/investmetic/domain/strategy/dto/StockTypeDto.java
  src/main/java/com/investmetic/domain/strategy/dto/StockTypeInfo.java
  src/main/java/com/investmetic/domain/strategy/dto/TradeTypeDto.java
  src/main/java/com/investmetic/domain/strategy/dto/request/StockTypeRequestDTO.java
  src/main/java/com/investmetic/domain/strategy/dto/request/TradeTypeRequestDTO.java
  src/main/java/com/investmetic/domain/strategy/dto/response/DailyAnalysisResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/MyStrategyDetailResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StockTypeResponseDTO.java
  src/main/java/com/investmetic/domain/strategy/dto/response/StrategyDetailResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/TradeTypeResponseDTO.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/BaseStrategyResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/MyStrategySimpleResponse.java
  src/main/java/com/investmetic/domain/strategy/dto/response/common/StrategySimpleResponse.java
  src/main/java/com/investmetic/domain/strategy/model/entity/StockType.java
  src/main/java/com/investmetic/domain/strategy/model/entity/TradeType.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustom.java
  src/main/java/com/investmetic/domain/strategy/repository/StrategyRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/strategy/service/StockTypeService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyListingService.java
  src/main/java/com/investmetic/domain/strategy/service/StrategyRegisterService.java
  src/main/java/com/investmetic/domain/strategy/service/TradeTypeService.java
  src/test/java/com/investmetic/domain/TestEntity/TestEntityFactory.java
  src/test/java/com/investmetic/domain/strategy/service/StockTypeServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyInfoServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyListingServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyServiceTest.java
  src/test/java/com/investmetic/domain/strategy/service/TradeTypeServiceTest.java
  src/test/java/com/investmetic/domain/subscription/service/SubscribtionServiceTest.java
Labels: ♻️ Refactor, 📃 Docs, 🐛 fix

#105 Feat/spring security 기능 구현 #51
  src/main/java/com/investmetic/domain/user/controller/LogoutController.java
  src/main/java/com/investmetic/domain/user/controller/ReIssueController.java
  src/main/java/com/investmetic/domain/user/controller/UserController.java
  src/main/java/com/investmetic/domain/user/dto/response/AvaliableDto.java
  src/main/java/com/investmetic/domain/user/dto/response/CustomUserDetails.java
  src/main/java/com/investmetic/domain/user/dto/response/UserDetails.java
  src/main/java/com/investmetic/domain/user/model/Role.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/service/LogoutService.java
  src/main/java/com/investmetic/domain/user/service/UserDetailService.java
  src/main/java/com/investmetic/domain/user/service/UserService.java
  src/main/java/com/investmetic/global/config/SecurityConfig.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/main/java/com/investmetic/global/security/filter/JWTFilter.java
  src/main/java/com/investmetic/global/security/filter/LoginFilter.java
  src/main/java/com/investmetic/global/security/handler/CustomAuthenticationFailureHandler.java
  src/main/java/com/investmetic/global/security/handler/CustomAuthenticationSuccessHandler.java
  src/main/java/com/investmetic/global/security/service/CustomUserDetailService.java
  src/main/java/com/investmetic/global/security/service/ReIssueService.java
  src/main/java/com/investmetic/global/util/JWTUtil.java
  src/main/java/com/investmetic/global/util/RedisUtil.java
  src/test/java/com/investmetic/domain/user/repository/UserRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/UserServiceTest.java
Labels: ✨ Feature

#126 Fix/user trader #125
  src/main/java/com/investmetic/domain/user/controller/UserController.java
  src/main/java/com/investmetic/domain/user/dto/object/ImageMetadata.java
  src/main/java/com/investmetic/domain/user/dto/object/TraderListSort.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustom.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/service/UserService.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
  src/test/java/com/investmetic/domain/user/repository/TraderListRepositoryTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/TraderListTest.java
  src/test/java/com/investmetic/domain/user/service/UserInfoModifyServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserServiceTest.java
Labels: ♻️ Refactor, 🐛 fix

#129 Feat/signup email #127
  src/main/java/com/investmetic/domain/user/controller/EmailAuthController.java
  src/main/java/com/investmetic/domain/user/controller/UserAdminController.java
  src/main/java/com/investmetic/domain/user/controller/UserController.java
  src/main/java/com/investmetic/domain/user/controller/UserMyPageController.java
  src/main/java/com/investmetic/domain/user/dto/request/UserSignUpDto.java
  src/main/java/com/investmetic/domain/user/service/UserService.java
  src/main/java/com/investmetic/global/util/RedisUtil.java
  src/test/java/com/investmetic/domain/user/service/EmailServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserServiceTest.java
Labels: ✨ Feature, ♻️ Refactor, 🧪 Test

#135 Bug/email auth #130
  src/main/java/com/investmetic/domain/user/controller/EmailAuthController.java
  src/main/java/com/investmetic/domain/user/controller/LoginController.java
  src/main/java/com/investmetic/domain/user/dto/request/UserModifyDto.java
  src/main/java/com/investmetic/domain/user/model/entity/User.java
  src/main/java/com/investmetic/domain/user/service/UserAdminService.java
  src/main/java/com/investmetic/domain/user/service/UserService.java
  src/main/java/com/investmetic/global/util/stibee/StibeeEmailService.java
  src/main/java/com/investmetic/global/util/stibee/client/AutoApiStibeeClient.java
  src/main/java/com/investmetic/global/util/stibee/dto/request/SubscriberField.java
  src/test/java/com/investmetic/domain/user/controller/UserMyPageControllerTest.java
  src/test/java/com/investmetic/domain/user/repository/UserMyPageRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/AdminPageUserServiceTest.java
  src/test/java/com/investmetic/domain/user/service/UserInfoModifyServiceTest.java
Labels: 🐛 fix

#141 🐛 [fix] 트레이더 목록 테스트코드 오류 수정
  src/test/java/com/investmetic/domain/user/repository/TraderListRepositoryTest.java
Labels: 🐛 fix

#139 ♻️ [refactor] kp ratio, sm score 계산식 수정 및 월간 분석 추가
  src/main/java/com/investmetic/domain/strategy/model/entity/MonthlyAnalysis.java
  src/main/java/com/investmetic/domain/strategy/model/entity/Strategy.java
  src/main/java/com/investmetic/domain/strategy/repository/DailyAnalysisRepository.java
  src/main/java/com/investmetic/domain/strategy/repository/MonthlyAnalysisRepository.java
  src/main/java/com/investmetic/global/scheduler/DailyAnalysisScheduler.java
  src/main/java/com/investmetic/global/scheduler/MonthlyAnalysisScheduler.java
  src/main/java/com/investmetic/global/scheduler/Scheduler.java
  src/main/java/com/investmetic/global/scheduler/StrategySmScoreScheduler.java
  src/test/java/com/investmetic/domain/strategy/service/StrategyDailyAnalysisServiceTest.java
Labels: ♻️ Refactor

#137 Refactor/spring security 기능 리팩토링 #136
  src/main/java/com/investmetic/domain/user/controller/UserController.java
  src/main/java/com/investmetic/domain/user/dto/request/LoginRequestDto.java
  src/main/java/com/investmetic/domain/user/dto/response/CustomUserDetails.java
  src/main/java/com/investmetic/domain/user/service/LogoutService.java
  src/main/java/com/investmetic/domain/user/service/UserDetailService.java
  src/main/java/com/investmetic/global/config/AuditConfig.java
  src/main/java/com/investmetic/global/config/SecurityConfig.java
  src/main/java/com/investmetic/global/exception/ErrorCode.java
  src/main/java/com/investmetic/global/exception/GlobalExceptionHandler.java
  src/main/java/com/investmetic/global/security/CustomUserDetails.java
  src/main/java/com/investmetic/global/security/filter/JWTFilter.java
  src/main/java/com/investmetic/global/security/filter/LoginFilter.java
  src/main/java/com/investmetic/global/security/handler/CustomAuthenticationSuccessHandler.java
  src/main/java/com/investmetic/global/security/service/CustomUserDetailService.java
  src/main/java/com/investmetic/global/security/service/ReIssueService.java
  src/main/java/com/investmetic/global/util/JWTUtil.java
Labels: ♻️ Refactor, 🐛 fix

#144 Bug/trader list #140
  src/main/java/com/investmetic/domain/user/controller/UserController.java
  src/main/java/com/investmetic/domain/user/dto/request/UserSignUpDto.java
  src/main/java/com/investmetic/domain/user/repository/UserRepositoryCustomImpl.java
  src/main/java/com/investmetic/domain/user/service/UserService.java
  src/test/java/com/investmetic/domain/user/repository/TraderListRepositoryTest.java
  src/test/java/com/investmetic/domain/user/service/TraderListTest.java
  src/test/java/com/investmetic/domain/user/service/UserServiceTest.java
Labels: 🧪 Test, 🐛 fix

#146 🐛 [fix] kp ratio 계산식 수정
  src/main/java/com/investmetic/global/scheduler/DailyAnalysisScheduler.java
  src/main/java/com/investmetic/global/scheduler/Scheduler.java
  src/main/java/com/investmetic/global/scheduler/StrategyCalculatorScheduler.java
Labels: 🐛 fix
